<!Doctype html>
<html>
	<head>
		<title>Image Downloader For Instagram - InstaSave</title>
		<meta name="description" content="Download any Instagram image in 2 simple steps. Save Instagram Pictures to your device. It is free & easy to use.">
		<link rel="stylesheet" href="style.css">
		<link rel="icon" href="images/favicon.png" type="image/x-icon"/>
		<link rel="shortcut icon" href="favicon.png" type="image/x-icon"/>

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</head>
	<body class="bg-light text-dark">

		<nav class="navbar navbar-expand-lg navbar-dark  bg-dark">
		  <a class="navbar-brand" href="#">InstaSave</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="https://www.linkedin.com/in/shubhamsarda/" target="_blank">Shubham Sarda</a>
		      </li>
		    </ul>
		  </div>
		</nav>

		<div class="container">
			<img src="images/instasave.png" alt="InstaSave">
			<p class="font-weight-bold"><h3>Download Instagram Photos - Instagram Downloader</h3></p>
			<form action="" method="POST" id="formclick">
					<input type="url" id="input" name="iurl" placeholder="Enter image's link, https://www.instagram.com/p/BwCQQkiBnvX/" autocomplete="off" required >
					<input type="submit" value="Download">
			</form>
			<p><h5 class="text-left mt-5">Step - 1. Enter Image URL - https://www.instagram.com/p/BwCQQkiBnvX/ and Click Download Button.</h5></p>
			<p><h5 class="text-left">Step - 2. Right Click On Image >> Click On 'Save Image' Option.</h5></p>
		</div>

		<script>
			mixpanel.track_forms("#formclick", "Created Account");
		</script>
	</body>
</html>
